$background-color-gray: #a2a2a2;

$album-color-dark-green: #2C3A47;
$album-color-dark-2-green: #32481B;
$album-color-dark-3-green: #303d20;
$album-color-green: #669438;
$album-color-light-green: #89C74C;

$album-color-red: #B2002D;

$color-dark: #000;

$color-text-gray-light: #a9a9a9;
$color-text-gray-light-2: #c5c5c5;